nav{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
   
}
#Logo{
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 5px;
    cursor: not-allowed;
}
a.navi{
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
}
a.navi:hover{
    color: rgb(25, 50, 62);
    background-color: rgb(172, 172, 172);
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}


#s{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 25px;
    color: rgb(0, 255, 149);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-bottom: 2px;
    margin-top: 30px;
}
#v1{
    height: 300px;
}
.soft{
     margin-top: 0;
    height: 100%;
    width: 100%;
}
iframe{
    height: 500px;
    width: 80%;
}

@media (max-width:500px){
#v1{
    height: 130px;
}
    iframe{
    height:200px;
    width: 100%;
}
    
}
  
